---
// Importa los componentes necesarios y establece las props del componente
interface CatCardProps {
  title?: string;
  imageUrl?: string;
  description?: string;
  rarity?: 'common' | 'rare' | 'epic' | 'legendary' | 'mythic';
  author?: string;
}

const { title = "Gatito Misterioso", imageUrl = "/Smilbot2.png", description = "Este gatito es un enigma.", rarity = "common", author = "Desconocido" } = Astro.props as CatCardProps;


const borderColor = {
  common: 'border-gray-400 bg-gray-100', // Gris
  rare: 'border-blue-500 bg-blue-100', // Azul
  epic: 'border-purple-500 bg-purple-100', // Morado
  legendary: 'border-yellow-400 bg-yellow-100', // Amarillo
  mythic: 'border-red-500 bg-red-100', // Rojo
}[rarity];
---


<div class={`cat-card border-4 ${borderColor} rounded-lg overflow-hidden max-w-60 shadow-lg hover:shadow-xl transition-transform transform hover:-translate-y-1`}>
  <img src={imageUrl} alt={`Imagen de ${title}`} class="w-60 h-auto" />
  <div class="content p-4"> 
    <h3 class="font-bold text-xl mb-2">{title}</h3>
    <p class="text-gray-700 text-base">{description}</p>
    <p class="author text-sm italic mt-3">Autor: {author}</p>
  </div>
</div>